.ClassThreadDescription {
    position: relative;
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    /* text-align: left; */
    /* top: 25 vh; */
    /* left: 5vw; */
}

.ClassThreadCard {
    /* float: right; */
    position: relative;
    width: 83vw;
    height: 15vh;
    /* min-height: max-content; */
    background: #a5cb89;
    border-radius: 10px 10px 10px 10px;
    /* margin-right: 15vw; */
    /* left: 15vw; */
    margin-top: 9vh;
    /* margin-bottom: -20px; */
    margin-left: 15vw;

    cursor: pointer;
    
}

.ClassThreadTitle {
    
    font-family: Karla;
    font-size: 24px;
    font-weight: bolder;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    max-width: 900px;
    position: relative;
    left: 7px;
    top: 2vh;
    /* margin-top: 10vh; */
    
}

.askButton {
    width: 200px;
    height: 35px;
    position: relative;
    /* left: 7vw;
    top: 3vh; */
    margin-left: 17vw;
    margin-top: 3vh;


    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2C2929;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #C1C6CB;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}