.CreateThread
{
    position: relative;
    max-width: 50vw;
    /* width: 83vw; */
    /* height: 15vh; */
    /* min-height: max-content; */
    /* background: #a5cb89; */
    border-radius: 10px 10px 10px 10px;
    /* margin-right: 15vw; */
    /* left: 15vw; */
    /* margin-top: 9vh; */
    /* margin-bottom: -20px; */
    margin-left: 15vw;
    font-family: Karla;
    font-size: 24px;
    font-weight: bolder;
    /* line-height: 14px; */
    letter-spacing: 0.05em;

    cursor: pointer;
}

.Title
{
    position: relative;
    width: 83vw;
    height: 15vh;
    /* min-height: max-content; */
    /* background: #a5cb89; */
    border-radius: 10px 10px 10px 10px;
    /* margin-right: 15vw; */
    /* left: 15vw; */
    margin-top: 2vh;
    /* margin-bottom: -20px; */
    /* margin-left: 15vw; */

    cursor: pointer;
}

.Post
{
    position: relative;
    width: 83vw;
    height: 15vh;
    /* min-height: max-content; */
    /* background: #a5cb89; */
    border-radius: 10px 10px 10px 10px;
    /* margin-right: 15vw; */
    /* left: 15vw; */
    margin-top: -10vh;
    /* margin-bottom: -20px; */
    /* margin-left: 15vw; */

    cursor: pointer;
}

Input.InputTitle
{
    width: 35vw;
    height: 2vh;

    font-family: Karla;
    font-size: 20px;
    /* font-weight: bolder; */
}

textarea.InputText
{
    /* text-align: start; */
    resize: none;
    width: 83vw;
    height: 40vh;

    font-family: Karla;
    font-size: 20px;
    /* font-weight: bolder; */
}

.Submit
{
    position: relative;
    top: 28vh;
}

.RelevantSubmit
{
    position: relative;
    top: 28vh;
}

.AdvancedSubmit
{
    position: relative;
    top: 28vh;
}

.AdvancedResponseCard
{
    position: relative;
    min-height: none;
    max-height: max-content;
    width: 80vw;
    padding: 1.5vw;
    top: 35vh;
    background-color: #ffd66a;
    border-radius: 10px;

}

/* .Results
{
    position: relative;
    top: 0vh;
    left: 15vw;
} */