body {
    left: 7px;
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    

}

button.replyCard {
    float: right;
    width: 86vw;
    height: 120px;
    
    border-radius: 10px 0px 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;

    cursor: pointer;
    
}

h3 {
    position: relative;
    left: 7px;
}