

.Taskbar {
    background: #ce8939;
    width: 2545px;
    height: 50px;
    top: 0px;
    padding: 0px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 0px 0px 10px 10px;
    
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 100;
    
}

.TaskbarButtons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
}

.functionButton {
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #dac2a6;


    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #ce8939;
}

/* 
img {
    align-items: center;
}
*/
