body {
    left: 7px;
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    

}



button.threadCard {
    float: right;
    width: 86vw;
    height: 120px;
    background: rgba(181, 134, 78, 0.26);
    border-radius: 10px 0px 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;

    cursor: pointer;
    
}

.threadTitle {
    position: relative;
    left: 100px;
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    max-width: 900px;
    height: 40px;
    
}

.threadTags {
    position: relative;
    bottom: -10px;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    position: relative;
    left: 40vw;
    bottom:4vw;
    

    width:min-content 200px;
    height:min-content 20px;
}



.upvote {
    border-width: 1px;
    background-color: #E5D9CA;
    
}

.downvote {
    border-width: 1px;
    background-color: #E5D9CA;
    
}

p {
    font-size: 28px;
}